<!DOCTYPE html> 
<html> 
  
<head> 
    <%- include('../partials/head'); -%>
</head> 
  
<body> 
    <header>
            <%- include('../partials/header'); -%>
    </header>
    
<!-- Title About Us page -->
	<section>
            <div class="bg-title-sub-page bg-menu-page-02 ">
                <div class="wrap-title-sub-page">
                    <h2 class="title-l"></h2>
                    <h6 class="title-s">Guriji events</h6>
                </div>
            </div>
        </section>
        <%- include('../partials/footer'); -%>
        <%- include('../partials/backToTop'); -%>
        <%- include('../partials/script'); -%>
    </body> 
      
</html> 